body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2ecc71; /* ფონის ფერი /
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    position: sticky;
    top: 0;
    background-color: #2ecc71; / ფონის ფერი */
    z-index: 1;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  }